plugins {
  id 'nf-schema@2.3.0'
}

validation {
  help {
    enabled    = true
    showHidden = false
  }
  ignoreParams = ['showHidden', 'show-hidden', 'trace_timestamp']
}

resume = true

process {
  errorStrategy = 'finish'
}

params {
  trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

report {
  enabled = true
  file    = "${params.output_dir}/reports/execution_report_${params.trace_timestamp}.html"
}


includeConfig 'conf/params.config'
includeConfig 'conf/profiles.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/publish.config'
