resume = true

process {
  errorStrategy = 'finish'
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'slurm'
  module = 'apptainer'

  withLabel: guppy  { module = 'guppy' }
}

// containers
process {
  withLabel: linux    { container = 'ubuntu:22.04' }
  withLabel: pigz     { container = 'bytesco/pigz:latest' }
  withLabel: fastqc   { container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' }
  withLabel: nanoplot { container = 'quay.io/biocontainers/nanoplot:1.40.2--pyhdfd78af_0' }
  withLabel: multiqc  { container = 'quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0' }
  withLabel: pycoqc   { container = 'quay.io/biocontainers/pycoqc:2.5.2--py_0' }
}