plugins {
  id 'nf-schema@2.1.0'
}

validation {
  help {
    enabled    = true
    showHidden = false
  }
  ignoreParams = ['showHidden', 'show-hidden']
}

resume = true

process {
  errorStrategy = 'finish'
}


includeConfig 'conf/params.config'
includeConfig 'conf/profiles.config'
includeConfig 'conf/containers.config'


def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
report {
  enabled = true
  file    = "${params.output_dir}/reports/execution_report_${trace_timestamp}.html"
}
