// containers
process {
  withLabel: csvtk {
    container = 'oras://community.wave.seqera.io/library/csvtk:0.32.0--2ddc9c2a20ea62b5'
  }
  withLabel: linux {
    container = 'ubuntu:latest'
  }
  withLabel: fastqc {
    container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--104d26ddd9519960'
  }
  withLabel: multiqc {
    container = 'oras://community.wave.seqera.io/library/multiqc:1.28--d466e41d58d6d704'
  }
  withLabel: nanoplot {
    container = 'oras://community.wave.seqera.io/library/nanoplot:1.44.1--14fbad38735b463b'
  }
  withLabel: nanoq {
    container = 'oras://community.wave.seqera.io/library/nanoq:0.10.0--94ce82b7e004c263'
  }
  withLabel: pigz {
    container = 'ghcr.io/dialvarezs/containers/utils:latest'
  }
  withLabel: pycoqc {
    container = 'oras://community.wave.seqera.io/library/pycoqc:2.5.2--7773bb01f211893c'
  }
  withLabel: samtools {
    container = 'oras://community.wave.seqera.io/library/samtools:1.21--84c9d77c3901e90b'
  }
  withLabel: toulligqc {
    container = 'genomicpariscentre/toulligqc:2.7.1'
  }

  withLabel: dorado {
    container        = params.use_dorado_container
      ? 'ghcr.io/dialvarezs/containers/dorado:0.9.5'
      : null
    containerOptions = '--nv'
  }
}
