process {
  withName: basecalling {
    publishDir = [
      path: "${params.output_dir}/sequencing_info/",
      mode: 'copy',
      pattern: 'sequencing_summary.txt',
      enabled: !params.sample_data,
    ]
  }

  withName: renameUbam {
    publishDir = [
      path: "${params.output_dir}/reads",
      mode: 'copy',
      enabled: !params.fastq_output,
      saveAs: { file ->
        (!params.sample_data && meta.id == 'basecalled_pass') || (meta.step == 'demux' && meta.classified)
          ? file
          : null
      },
    ]
  }

  withName: bamToFastq {
    publishDir = [
      path: "${params.output_dir}/reads",
      mode: 'copy',
      enabled: params.fastq_output,
      saveAs: { file ->
        (!params.sample_data && meta.id == 'basecalled_pass') || (meta.step == 'demux' && meta.classified)
          ? file
          : null
      },
    ]
  }

  withName: mergeDoradoSummaries {
    publishDir = [
      path: "${params.output_dir}/sequencing_info/",
      mode: 'copy',
    ]
  }

  withName: fastQC {
    publishDir = [
      path: "${params.output_dir}/qc/fastqc",
      mode: 'copy',
    ]
  }

  withName: nanoPlot {
    publishDir = [
      path: "${params.output_dir}/qc/nanoplot",
      mode: 'copy',
    ]
  }

  withName: nanoq {
    publishDir = [
      path: "${params.output_dir}/qc/nanoq",
      mode: 'copy',
    ]
  }
}
